.p {
  font-size: 1.1em;
  color: #555555;
  line-height: 1.8em;
  text-align: center;
}

.ul {
  list-style: none;
  padding: 0;
}

.ul li {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
  font-weight: 500;
  color: #333333;
}

.ul li:last-child {
  border-bottom: none;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
